flow/Neo4j_Integration.json
{"flowContents":{"identifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","instanceIdentifier":"f781ca07-0191-1000-1be9-15ec4449d049","name":"Neo4j Integration","comments":"","position":{"x":-277.0,"y":-201.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6e02b7e4-93c2-39e9-be00-848332bbe801","instanceIdentifier":"fb6f666f-0191-1000-907a-6b93b723a48a","name":"PutFile - report.json","comments":"","position":{"x":1568.0,"y":264.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/eliezerzarpelao/Events/2024_Cloudera/data/google/report","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"c4453568-a0aa-3b77-9672-8aaae8a773b0","instanceIdentifier":"f79ea1b5-0191-1000-1618-f4e6b49e37dd","name":"SplitRecord - 50","comments":"","position":{"x":576.0,"y":64.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Record Writer":"b27d89c6-95ac-34ea-95b0-db4629ad8366","Record Reader":"22205ebc-d7a8-398b-bb42-07efa717a64c","Records Per Split":"50"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"e8cc3799-14a9-37c8-a4e5-96894c65acb6","instanceIdentifier":"f7836cc7-0191-1000-9e02-5bc730cba2ee","name":"LogMessage","comments":"","position":{"x":1072.0,"y":664.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"error","log-prefix":"neo4j"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"31098e94-f0e6-3029-81c4-2cfc296c01a9","instanceIdentifier":"fb77b88b-0191-1000-9460-df66e999e4ee","name":"Neo4j - Cypher Query Report","comments":"","position":{"x":1568.0,"y":-144.0},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.0.0-M4"},"properties":{"graph-query":"MATCH (app:App)-[:HAS_REVIEW]->(review:Review)\nRETURN \n    app.appName as appName, \n    count(review) as reviews, \n    avg(review.reviewSentimentPolarity) as reviewSentimentPolarity,\n    avg(review.reviewSentimentSubjectivity) as reviewSentimentSubjectivity\nORDER BY appName","graph-client-service":"be4fd5a3-be3e-30df-b461-79bc4c568cbe"},"propertyDescriptors":{"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"a384e8e4-6e6e-333e-a16f-1ff47e64a222","instanceIdentifier":"f78d20ae-0191-1000-e425-777038752d78","name":"Neo4j Data Ingestion","comments":"","position":{"x":576.0,"y":264.0},"type":"org.apache.nifi.processors.graph.ExecuteGraphQueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.0.0-M4"},"properties":{"writer-service":"96691826-9d42-3193-baca-315eaeab2b02","App":"/App","record-script":"MERGE (app:App {appId:apoc.util.sha256([$App])})\nSET app.appName = $App\n\nMERGE (category:Category {categoryId:apoc.util.sha256([$Category])})\nSET category.categoryName = $Category\n\nMERGE (app)-[:HAS_CATEGORY]->(category)\n\nWITH app, split($Genres, \";\") AS genre_list\nUNWIND genre_list AS genreitem\n\nMERGE (genre:Genre {genreId:apoc.util.sha256([genreitem])})\nSET genre.genreName = genreitem\n\nMERGE (app)-[:HAS_GENRE]->(genre)","Category":"/Category","Genres":"/Genres","reader-service":"22205ebc-d7a8-398b-bb42-07efa717a64c","client-service":"be4fd5a3-be3e-30df-b461-79bc4c568cbe"},"propertyDescriptors":{"writer-service":{"name":"writer-service","displayName":"Failed Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"App":{"name":"App","displayName":"App","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-script":{"name":"record-script","displayName":"Graph Record Script","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Category":{"name":"Category","displayName":"Category","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Genres":{"name":"Genres","displayName":"Genres","identifiesControllerService":false,"sensitive":false,"dynamic":true},"reader-service":{"name":"reader-service","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"client-service":{"name":"client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":50,"autoTerminatedRelationships":["original","response"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"bf81b59b-7fc7-3e39-8eae-a51e5649ce97","instanceIdentifier":"fb4d9d63-0191-1000-2b58-83ef9cc5802f","name":"Neo4j Data Ingestion - Review","comments":"","position":{"x":1072.0,"y":448.0},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.0.0-M4"},"properties":{"input":"${input}","graph-query":"WITH apoc.convert.fromJsonList($input) AS input_list\nUNWIND input_list AS input\n\nWITH input WHERE input.Translated_Review <> 'nan'\n\nMATCH (app:App {appId:apoc.util.sha256([input.App])})\n\nCREATE (review:Review {reviewId:randomUUID()})\nSET review.reviewText = input.Translated_Review,\n    review.reviewSentiment = input.Sentiment,\n    review.reviewSentimentPolarity = toFloat(input.Sentiment_Polarity),\n\treview.reviewSentimentSubjectivity = toFloat(input.Sentiment_Subjectivity)\n\nMERGE (app)-[:HAS_REVIEW]->(review)","graph-client-service":"be4fd5a3-be3e-30df-b461-79bc4c568cbe"},"propertyDescriptors":{"input":{"name":"input","displayName":"input","identifiesControllerService":false,"sensitive":false,"dynamic":true},"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":50,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"66b55817-a078-38d9-afd0-e7e16648eaf5","instanceIdentifier":"fb4a4d63-0191-1000-97bb-86fdc8640f29","name":"EvaluateJsonPath","comments":"","position":{"x":1072.0,"y":264.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-attribute","input":"$[*]","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input":{"name":"input","displayName":"input","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"364d9f40-fc18-330c-97a5-7bd728985b4b","instanceIdentifier":"f7c25c30-0191-1000-98c7-83caacfe5b49","name":"GetFile googleplaystore.csv","comments":"","position":{"x":576.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/Users/eliezerzarpelao/Events/2024_Cloudera/data/google/app","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"48f733ed-aff9-35d7-9d1c-e57e3c2e5be0","instanceIdentifier":"fb4384b8-0191-1000-c3ff-9e2c130ca9ab","name":"GetFile googleplaystore_user_reviews.csv","comments":"","position":{"x":1072.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/Users/eliezerzarpelao/Events/2024_Cloudera/data/google/user_review","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"a0a6c65d-dd48-31f6-8eea-2cdd30469b42","instanceIdentifier":"fb486dec-0191-1000-493a-99d7ccedcfd9","name":"SplitRecord - 50","comments":"","position":{"x":1072.0,"y":64.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Record Writer":"96691826-9d42-3193-baca-315eaeab2b02","Record Reader":"22205ebc-d7a8-398b-bb42-07efa717a64c","Records Per Split":"50"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"3cf5a432-3b92-376e-ae53-cbc0f6c9d913","instanceIdentifier":"fb700e48-0191-1000-36ac-1f95239cc651","name":"UpdateAttribute - filename","comments":"","position":{"x":1568.0,"y":64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"filename":"report.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7a382b21-82de-3dcf-955c-1d45e3ff434e","instanceIdentifier":"fb600770-0191-1000-f2d8-f5631b8fb98e","name":"","source":{"id":"66b55817-a078-38d9-afd0-e7e16648eaf5","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fb4a4d63-0191-1000-97bb-86fdc8640f29"},"destination":{"id":"bf81b59b-7fc7-3e39-8eae-a51e5649ce97","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"Neo4j Data Ingestion - Review","comments":"","instanceIdentifier":"fb4d9d63-0191-1000-2b58-83ef9cc5802f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"bbc30aa5-5dd5-33e7-8410-e963431f5c96","instanceIdentifier":"f7e5b621-0191-1000-cbcd-866a52d7ec7a","name":"","source":{"id":"c4453568-a0aa-3b77-9672-8aaae8a773b0","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"SplitRecord - 50","comments":"","instanceIdentifier":"f79ea1b5-0191-1000-1618-f4e6b49e37dd"},"destination":{"id":"a384e8e4-6e6e-333e-a16f-1ff47e64a222","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"Neo4j Data Ingestion","comments":"","instanceIdentifier":"f78d20ae-0191-1000-e425-777038752d78"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"59704b5e-ffef-38e9-9656-228589174528","instanceIdentifier":"fb4a6e92-0191-1000-e8a3-db14ce280f96","name":"","source":{"id":"a0a6c65d-dd48-31f6-8eea-2cdd30469b42","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"SplitRecord - 50","comments":"","instanceIdentifier":"fb486dec-0191-1000-493a-99d7ccedcfd9"},"destination":{"id":"66b55817-a078-38d9-afd0-e7e16648eaf5","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fb4a4d63-0191-1000-97bb-86fdc8640f29"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"29c3b23e-f764-3531-8dff-a972ddcdcd25","instanceIdentifier":"fb709552-0191-1000-e1ad-bc4eb23bbd54","name":"","source":{"id":"3cf5a432-3b92-376e-ae53-cbc0f6c9d913","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"UpdateAttribute - filename","comments":"","instanceIdentifier":"fb700e48-0191-1000-36ac-1f95239cc651"},"destination":{"id":"6e02b7e4-93c2-39e9-be00-848332bbe801","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"PutFile - report.json","comments":"","instanceIdentifier":"fb6f666f-0191-1000-907a-6b93b723a48a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"ed05b921-1c01-34eb-95f3-e680a8511327","instanceIdentifier":"f7b01186-0191-1000-b7a5-73744be00fa0","name":"","source":{"id":"a384e8e4-6e6e-333e-a16f-1ff47e64a222","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"Neo4j Data Ingestion","comments":"","instanceIdentifier":"f78d20ae-0191-1000-e425-777038752d78"},"destination":{"id":"e8cc3799-14a9-37c8-a4e5-96894c65acb6","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"LogMessage","comments":"","instanceIdentifier":"f7836cc7-0191-1000-9e02-5bc730cba2ee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":752.0,"y":640.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"54e13de9-84e3-3d63-95dc-0cd4f3221115","instanceIdentifier":"fb4e32ac-0191-1000-6ba2-c2c8fa665e2d","name":"","source":{"id":"bf81b59b-7fc7-3e39-8eae-a51e5649ce97","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"Neo4j Data Ingestion - Review","comments":"","instanceIdentifier":"fb4d9d63-0191-1000-2b58-83ef9cc5802f"},"destination":{"id":"e8cc3799-14a9-37c8-a4e5-96894c65acb6","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"LogMessage","comments":"","instanceIdentifier":"f7836cc7-0191-1000-9e02-5bc730cba2ee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"49bf8bce-1a3e-3e02-800b-7e61a738c836","instanceIdentifier":"fb77ce8e-0191-1000-cedc-46ba2c02992f","name":"","source":{"id":"31098e94-f0e6-3029-81c4-2cfc296c01a9","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"Neo4j - Cypher Query Report","comments":"","instanceIdentifier":"fb77b88b-0191-1000-9460-df66e999e4ee"},"destination":{"id":"3cf5a432-3b92-376e-ae53-cbc0f6c9d913","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"UpdateAttribute - filename","comments":"","instanceIdentifier":"fb700e48-0191-1000-36ac-1f95239cc651"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"5158d5d5-33d1-3e14-ab05-936929982915","instanceIdentifier":"fb300fb4-0191-1000-f7d0-5751e9acde31","name":"","source":{"id":"364d9f40-fc18-330c-97a5-7bd728985b4b","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"GetFile googleplaystore.csv","comments":"","instanceIdentifier":"f7c25c30-0191-1000-98c7-83caacfe5b49"},"destination":{"id":"c4453568-a0aa-3b77-9672-8aaae8a773b0","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"SplitRecord - 50","comments":"","instanceIdentifier":"f79ea1b5-0191-1000-1618-f4e6b49e37dd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"6ddd9bcc-b1fa-30fc-96df-8d90b7703518","instanceIdentifier":"fb48bf12-0191-1000-b191-6a6ab8ed3f73","name":"","source":{"id":"48f733ed-aff9-35d7-9d1c-e57e3c2e5be0","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"GetFile googleplaystore_user_reviews.csv","comments":"","instanceIdentifier":"fb4384b8-0191-1000-c3ff-9e2c130ca9ab"},"destination":{"id":"a0a6c65d-dd48-31f6-8eea-2cdd30469b42","type":"PROCESSOR","groupId":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758","name":"SplitRecord - 50","comments":"","instanceIdentifier":"fb486dec-0191-1000-493a-99d7ccedcfd9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"96691826-9d42-3193-baca-315eaeab2b02","instanceIdentifier":"f79a94ae-0191-1000-f372-a81c19885d2c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"b27d89c6-95ac-34ea-95b0-db4629ad8366","instanceIdentifier":"f79e4354-0191-1000-f4d5-eeafe779cd6f","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"22205ebc-d7a8-398b-bb42-07efa717a64c","instanceIdentifier":"f79982b9-0191-1000-4b31-bca8cdb36a2f","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"},{"identifier":"be4fd5a3-be3e-30df-b461-79bc4c568cbe","instanceIdentifier":"f7823ad1-0191-1000-3b78-dff95eb1e659","name":"Neo4JCypherClientService","comments":"","type":"org.apache.nifi.graph.Neo4JCypherClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-neo4j-cypher-service-nar","version":"2.0.0-M4"},"properties":{"neo4j-max-connection-acquisition-timeout":"60 second","SSL Trust Chain PEM":null,"neo4j-max-connection-pool-size":"100","neo4j-idle-time-before-test":"60 seconds","neo4j-username":"neo4j","neo4j-max-connection-lifetime":"3600 seconds","neo4j-connection-url":"bolt://100.24.19.145:7687","neo4j-max-connection-time-out":"5 seconds"},"propertyDescriptors":{"neo4j-max-connection-acquisition-timeout":{"name":"neo4j-max-connection-acquisition-timeout","displayName":"Neo4J Max Connection Acquisition Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Trust Chain PEM":{"name":"SSL Trust Chain PEM","displayName":"SSL Trust Chain PEM","identifiesControllerService":false,"sensitive":false,"dynamic":false},"neo4j-max-connection-pool-size":{"name":"neo4j-max-connection-pool-size","displayName":"Neo4J Max Connection Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"neo4j-idle-time-before-test":{"name":"neo4j-idle-time-before-test","displayName":"Neo4J Idle Time Before Connection Test","identifiesControllerService":false,"sensitive":false,"dynamic":false},"neo4j-username":{"name":"neo4j-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"neo4j-password":{"name":"neo4j-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"neo4j-max-connection-lifetime":{"name":"neo4j-max-connection-lifetime","displayName":"Neo4J Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"neo4j-connection-url":{"name":"neo4j-connection-url","displayName":"Neo4j Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"neo4j-max-connection-time-out":{"name":"neo4j-max-connection-time-out","displayName":"Neo4J Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.graph.GraphClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-client-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bb49b8b9-4031-3a7d-a6fd-9aabe0724758"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}